<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename="css/style.css")}}" />
    <link rel="stylesheet" href="{{url_for('static', filename="css/swiper-bundle.min.css")}}" />
    <link rel="stylesheet" href="{{url_for('static', filename="css/fancybox.css")}}" />

    <title>Document</title>
</head>

<body>
    <div class="headerPanelContainer">
        <div class="headerLeftPanel">
            <img class="headerLogo"></img>
        </div>
        <div class="headerLeftPanel">
            <button class="headerLeftPanel__button">Чему вы научитесь</button>
        </div>
        <div class="headerLeftPanel">
            <button class="headerLeftPanel__button">Процесс обучения</button>
        </div>
        <div class="headerLeftPanel">
            <button class="headerLeftPanel__button">Стоимость</button>
        </div>
        <div class="headerLeftPanel">
            <button class="headerLeftPanel__button">Контакты</button>
        </div>
        <div class="headerRightPanel">
            <button class="headerRightPanel__phone" onclick="copyNumber()">+7 (499) 348 93 96</button>
        </div>
    </div>
    <div class="bannerContainer swiper-container">
        <div class="bannerWrapper swiper-wrapper">
            <div class="bannerContent swiper-silde">
                <div class="BannerContent">
                    <div class="BannerContent__title">
                        <h2 class="BannerContent__title-text">Школа программирования<br>для тех, кому нужны<br>реальные навыки,<br>а не просто сертификат</h2>
                    </div>
                    <div class="BannerContent__description">
                        <h2 class="BannerContent__description-text">Закажите звонок, и наш специалист свяжется с<br>вами в ближайшее время</h2>
                        <button class="BannerContent__button" onclick="callMe()">Заказать звонок</button>
                    </div>
                    <div class="BannerContent__img-container">
                        <img class="BannerContent__img" src="{{url_for('static', filename="img/banner1.svg")}}" alt="">
                    </div>
                </div>
                <div class="BannerContent">
                    <div class="BannerContent__title">
                        <h2 class="BannerContent__title-text">Обучение<br>через практику</h2>
                    </div>
                    <div class="BannerContent__description">
                        <h2 class="BannerContent__description-text">Всё что вы узнали, вы тут же начинаете<br>применять на практике. Вы сразу видите<br>результаты своего труда.</h2>
                        <button class="BannerContent__button" onclick="callMe()">Заказать звонок</button>
                    </div>
                    <div class="BannerContent__img-container">
                        <img class="BannerContent__img" src="{{url_for('static', filename="img/banner2.svg")}}" alt="">
                    </div>
                </div>
                <div class="BannerContent">
                    <div class="BannerContent__title">
                        <h2 class="BannerContent__title-text">Весь материал разбит на<br>небольшие уроки</h2>
                    </div>
                    <div class="BannerContent__description">
                        <h2 class="BannerContent__description-text">Теория и практика подаются маленькими<br>порциями. Так вам будет легче усваивать новые<br>знания.</h2>
                        <button class="BannerContent__button" onclick="callMe()">Заказать звонок</button>
                    </div>
                    <div class="BannerContent__img-container">
                        <img class="BannerContent__img" src="{{url_for('static', filename="img/banner3.svg")}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerContainer">
        <div class="footerTitleContainer">
            <h1 class="footerTitleText">
                Обучение в CoDe - это<br>удобно и результативно
            </h1>
        </div>
        <div class="footerContentContainer">
            <div class="footerContentItem">
                <img src="{{url_for('static', filename="img/tutorial_logo1.svg")}}" class="footerContentItem__img">
                <h3 class="footerContentItem__title"><
                    Огромное количество практики
                </h3>
                <p class="footerContentItem__description">
                    Более 500 самостоятельных заданий и 20 полноценных больших проектов
                </p>
            </div>
            <div class="footerContentItem">
                <img src="{{url_for('static', filename="img/tutorial_logo2.svg")}}" class="footerContentItem__img">
                <h3 class="footerContentItem__title"><
                    Современные методики обучения
                </h3>
                <p class="footerContentItem__description">
                    Спиральное обучение: погружаемся в материал постепенно, виток за витком
                </p>
            </div>
            <div class="footerContentItem">
                <img src="{{url_for('static', filename="img/tutorial_logo3.svg")}}" class="footerContentItem__img">
                <h3 class="footerContentItem__title"><
                    Простое и понятное изложение
                </h3>
                <p class="footerContentItem__description">
                    Вместо заумных терминов – примеры из реального мира
                </p>
            </div>
            <div class="footerContentItem">
                <img src="{{url_for('static', filename="img/tutorial_logo4.svg")}}" class="footerContentItem__img">
                <h3 class="footerContentItem__title"><
                    Гибкий график занятий
                </h3>
                <p class="footerContentItem__description">
                    Учитесь в любое время в удобном для вас темпе
                </p>
            </div>
            <div class="footerContentItem">
                <img src="{{url_for('static', filename="img/tutorial_logo5.svg")}}" class="footerContentItem__img">
                <h3 class="footerContentItem__title"><
                    Прямая связь с опытными программистами
                </h3>
                <p class="footerContentItem__description">
                    Задавайте вопросы и отправляйте свой код на проверку
                </p>
            </div>
            <div class="footerContentItem">
                <img src="{{url_for('static', filename="img/tutorial_logo6.svg")}}" class="footerContentItem__img">
                <h3 class="footerContentItem__title"><
                    Оплата небольшими частями
                </h3>
                <p class="footerContentItem__description">
                    Платите только за тот материал, который сейчас изучаете, а не за весь курс сразу
                </p>
            </div>
            <div class="footerContentItem">
                <img src="{{url_for('static', filename="img/tutorial_logo7.svg")}}" class="footerContentItem__img">
                <h3 class="footerContentItem__title"><
                    Быстрый и легкий возврат
                </h3>
                <p class="footerContentItem__description">
                    Если передумаете учиться – вернем деньги за 3 рабочих дня
                </p>
            </div>
        </div>
    </div>
    <div class="help_container">
        <div class="helpImageContainer">
            <img src="" class="helpImage">
        </div>
        <div class="helpTextContainer">
            <h3 class="helpText"></h3>
        </div>
    </div>
    <div class="help_container">
        <div class="helpTextContainer">
            <h3 class="helpText"></h3>
        </div>
        <div class="helpImageContainer">
            <img src="" class="helpImage">
        </div>
    </div>
    <div class="ImagesContainer">
        <img src="" class="ImagesContainer__img">
        <img src="" class="ImagesContainer__img">
        <img src="" class="ImagesContainer__img">
        <img src="" class="ImagesContainer__img">
        <img src="" class="ImagesContainer__img">
    </div>
    <div class="YandexMapContainer">
        <!--Далее будет добавлена Yandex Map API-->
    </div>
    <div class="footerContainer">
        <div class="footerLeftContainer">
            <div class="footerLeftContent__upper">
                <img src="" class="footerLeftContent__upper-icon">
                <h2 class="footerLeftContent__upper-title">Школа программирования</h2>
            </div>
            <div class="footerLeftContent__downer">
                <button class="footerLeftContent__downer-button">
                    <img src="" class="footerLeftContent__downer-button-icon">
                </button>
                <button class="footerLeftContent__downer-button">
                    <img src="" class="footerLeftContent__downer-button-icon">
                </button>
                <button class="footerLeftContent__downer-button">
                    <img src="" class="footerLeftContent__downer-button-icon">
                </button>
                <button class="footerLeftContent__downer-button">
                    <img src="" class="footerLeftContent__downer-button-icon">
                </button>
            </div>
            <div class="footerRightConten">
                <button class="footerRightContent__button">Чему вы научитесь</button>
                <button class="footerRightContent__button">Процесс обучения</button>
                <button class="footerRightContent__button">Стоимость</button>
                <button class="footerRightContent__button">Контакты</button>
                <button class="footerRightContent__button">Регистрация</button>
            </div>
            <div class="footerRightConten">
                <button class="footerRightContent__button" onclick="copyNumber()">+7 (499) 348 93 96</button>
                <p class="footerRightContent__button-text">info@code.ru</p>
            </div>
        </div>
    </div>
    <div class="footerBottomContainer">
        <p class="footerBottomContent__text">© 2023 — Все права защищены</p>
        <p class="footerBottomContent__text">Пользовательское соглашение</p>
        <p class="footerBottomContent__text">Политика конфиденциальности</p>
    </div>
    <script src="{{url_for('static', filename="js/swiper-bundle.min.js")}}"></script>
    <script src="{{url_for('static', filename="js/fancybox.umd.js")}}"></script>
    <script defer src="{{url_for('static', filename="js/script.js")}}"></script>
</body>

</html>